{% extends 'home/base.html' %}

{% block content %}

    <div class="border border-dark" style="margin: auto; margin-top: 5%;">

        <table class="table">
            <thead>
            <tr>

                {% for key,value in cle.items %}
                    <th>{{ key }}</th>

                {% endfor %}
            <th>Actions</th>

            </tr>
            </thead>
            <tbody>

                {% for ras in listeAction %}
                    <tr>
                    {% for key,value in ras.items %}

                            <td>{{ value }}</td>


                    {% endfor %}
                    <td> <a href="">Détail </a> </td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}